@import url("https://fonts.googleapis.com/css?family=Lato:100");

body {
  background: rgba(78, 78, 78, 1);
  color: rgba(255, 255, 255, 1);
  font-family: sans-serif;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.lato {
  font-family: Lato;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.align {
  align-items: center;
}

.hi {
  margin-top: 20px;
  transform-origin: top;
  transform: rotate(180deg);
}

.hidden {
  opacity: 0;
}
